*{
    margin: 0;
}
/*STYLE FOR HEADER*/
.gh{
    width: 20px;
    height: 20px;
}

.box {
 margin:0 auto;
 width: 60%;
}
.header{
    z-index: 1;
    width: 60%;
    height: 60px;
    background-color: #fcfeff;
    border: 1px solid #e1effc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
.logo{
    text-decoration: none;
    color: #1e6ca6;
    font-weight: bold;
    font-size: 30px;
}
.imgLogo{
    width: 42px;
    height: 42px;
}
.imgCherry{
    width: 25px;
    height: 25px;
}
.imgNoPhoto{
    width: 35px;
    height: 35px;
    margin-left: 20px;
}
.imgBasket{
    width: 35px;
    height: 35px;
    margin-top: -2px;
}
.menu{
    display: flex;
}
.menuA{
    cursor: default;
    text-decoration: none;
    color: #1e6ca6;
    padding: 20px;
    font-size: 17px;
}
.menuA:hover {
  background: 50px;
  border-radius: 20px;
  background-color: #1E6CA6;
  color: #fff;
}
.flex{
    display: flex;
}
.indents1{
    margin-right: 15px;
}
.indents2{
    padding-top: 5px;
}
.search{
    display: flex;
}
.searchInputText{
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 5px 8px 5px 8px;
}
.indents3{
    padding-top: 4px;
}
.indents4{
    padding-right: 40px;
    padding-top: 4px;
}
.goButton{
    border-radius: 5px;
    background-color: #1e6ca6;
    color: white;
    border: 1px solid #1e6ca6;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}

.main {
   position: relative;
   top: 60px;
   height: 900px;
   width: 100%;
   background-color: #fcfeff;
   border: 1px solid #e1effc;
}
.container {

}
.main__text {
    color: #1e6ca6;
    font-size: 28px;
    text-align: center;
    padding-top: 50px;
}
.main__img {
    border-radius: 50%;
    padding-top: 100px;
     display: flex;
    align-items: center;
    justify-content: space-around;
}

.main__info {
  
      display: flex;
    align-items: center;
    justify-content: space-around;
}
.main__img-1 {
    border-radius: 50%;
    padding-top: 50px;
     display: flex;
    align-items: center;
    justify-content: space-around;
}

.main__cur:hover {
    opacity: 0.8;
    border: 1px solid black;
    border-radius: 50%;
}

.btn{
    display: inline-block;
    padding:.8rem 3rem;
    border:.2rem solid #1e6ca6;
    color:#1e6ca6 ;
    cursor: pointer;
    font-size: 1.7rem;
    border-radius: .5rem;
    position: relative;
    left: 43%;
    top: 5%;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.btn::before{
    content: '';
    position: absolute;
    top:0; right: 0;
    width:0%;
    height:100%;
    background: #1e6ca6;
    transition: .3s linear;
    z-index: -1;
}

.btn:hover::before{
    width:100%;
    left: 0;
}

.btn:hover{
    color:#fff;
}

@media(max-width: 1600px) {
   

 .header{
    width: 60%;
    height: 60px;
    background-color: #fcfeff;
    border: 1px solid #e1effc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}
.logo{
    display: none;
    text-decoration: none;
    color: #1e6ca6;
    font-weight: bold;
    font-size: 30px;
}
.imgLogo{
    width: 42px;
    height: 42px;
}
.imgCherry{
        display: none;
    width: 25px;
    height: 25px;
}
.imgNoPhoto{
    width: 35px;
    height: 35px;
    margin-left: 20px;
}
.imgBasket{
    width: 35px;
    height: 35px;
    margin-top: -2px;
}

.flex{
    display: flex;
}
.indents1{
    margin-right: 15px;
}
.indents2{
    padding-top: 5px;
}
.search{
    display: flex;
}
.searchInputText{
        display: none;
    border-radius: 5px;
    border: 1px solid darkgray;
    padding: 5px 8px 5px 8px;
}
.indents3{
    padding-top: 4px;
}
.indents4{
    padding-right: 40px;
    padding-top: 4px;
}
.goButton{
        display: none;
    border-radius: 5px;
    background-color: #1e6ca6;
    color: white;
    border: 1px solid #1e6ca6;
    margin-left: 10px;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
}


.main {
   position: relative;
   top: 60px;
   height: 900px;
   width: 100%;
   background-color: #fcfeff;
   border: 1px solid #e1effc;
}

}

@media only screen and (max-width: 1280px) {
   
 .header{
    width: 60%;
    height: 60px;
    background-color: #fcfeff;
    border: 1px solid #e1effc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}


.main {
   position: relative;
   top: 60px;
   height: 900px;
   width: 100%;
   background-color: #fcfeff;
   border: 1px solid #e1effc;
}

.main img {
    width: 175px;
    height: 175px;
}

}


@media only screen and (max-width: 980px) {
   
   .box {
  
  width: 100%;
 
}

 .header{
    width: 100%;
    height: 60px;
    background-color: #fcfeff;
    border: 1px solid #e1effc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}


.main {
   position: relative;
   top: 60px;
   height: 700px;
   width: 100%;
   background-color: #fcfeff;
   border: 1px solid #e1effc;
}

.main img {
    width: 175px;
    height: 175px;
}

}

@media only screen and (max-width: 720px) {
   
   .box {
  
  width: 100%;
 
}

 .header{
    width: 100%;
    height: 60px;
    background-color: #fcfeff;
    border: 1px solid #e1effc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}


.main {
   position: relative;
   top: 60px;
   height: 700px;
   width: 100%;
   background-color: #fcfeff;
   border: 1px solid #e1effc;
}


.main img {
    width: 175px;
    height: 175px;
}

.main__img {
    border-radius: 50%;
    padding-top: 100px;
     display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    grid-column: 2;
}

.main__info {
  
      display: flex;
    align-items: center;
    justify-content: space-around;
}
.main__img-1 {
    border-radius: 50%;
    padding-top: 50px;
     display: flex;
    align-items: center;
    justify-content: space-around;
}

}




/*MAIN STYLE*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
:root{
    --red: #ff3838
}

*{
    font-family: 'Nunito', sans-serif;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: #1e6ca6;
    color: #fff;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

@font-face {
    font-family:"Raleway-regular";
    src:url(../fonts/Raleway-Regular.ttf)
}
@font-face {
    font-family:"Raleway-medium";
    src:url(../fonts/Raleway-Medium.ttf)
}
@font-face {
    font-family:"Raleway-bold";
    src:url(../fonts/Raleway-Bold.ttf)
}
@font-face {
    font-family:"Raleway-extrabold";
    src:url(../fonts/Raleway-ExtraBold.ttf)
}
@font-face {
    font-family:"Raleway-semibold";
    src:url(../fonts/Raleway-SemiBold.ttf)
}
@font-face {
    font-family:"Raleway-black";
    src:url(../fonts/Raleway-Black.ttf)
}

#toTop {
width:50px;
height: 50px;
border:1px solid #ccc;
border-radius: 50%;
background: #1E6CA6;
text-align:center;
padding:5px;
position:fixed;
bottom:100px; /* отступ кнопки от нижнего края страницы*/
right:30px;
cursor:pointer;
display:none;
color:#333;
font-family:verdana;
font-size:11px;
}

#toTop img {
    position: fixed;
    bottom: 93px;
    right: 24px;
}
/* colors  */

:root {
    --primary:#EEBF00;
    --secondary:#232B38;
    --ternary:#6C6C6C;
    --danger:#FE4545;
    --pure:#FEFEFE;
    --light:#F0F0F0;
    --heaven:#FFFFFF;
    --footer:#2D333F;
}


.container {
    width:70%;
    padding:o 15px;
    margin:0 auto;
}
h1 {
    font-size: 18px;
}

span {
    font-size: 18px;
}
a {
    font-size: 18px;
}
h3 {
    font-size: 18px;
}

.container p {
    font-size: 18px;
}

section.contact-us{
    position: relative;
    width: 90%;
    padding-left: 200px;
    padding-top:50px;
    padding-bottom: 0;
}
section.contact-us .contact-info-wrapper {
    padding:4rem 0;
    flex:1;
}
section.contact-us .map{
    flex:1;
    filter:grayscale(100%);
    -webkit-filter:grayscale(100%);
}
section.contact-us .contact-info{
    display:flex;
    justify-content: center;
}
section.contact-us .contact-info > div > div {
    display:flex;
    align-items:center;
    margin-bottom:2rem;
}
section.contact-us .contact-info > div > div img{
    margin-right: 1rem;
}
section.contact-us .contact-info > div > div > div{
    display:flex;
    flex-direction: column;
}
section.contact-us .contact-info > div > div > div span:first-child{
    font-family: "Raleway-bold";
    margin-bottom:0.25rem;
}
footer{
    background:var(--footer);
    padding:4rem 0;
}
footer .container{
    display:flex;
    color:var(--pure);
}

footer .box{
    flex:1;
    margin-right:2rem;
    text-align:center;
}

footer .instagram-api img{
    width:100%;
    height:100%;
    object-fit: cover;
}
footer .instagram-api .post-wrap{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}
footer .instagram-api .post-wrap > div{
    width: calc(1/3*100% - (1 - 1/3)*10px);
    margin-bottom:10px;
}
footer .box ul{
    list-style-type: none;
}
footer .box ul li a{
    color:var(--pure);
    text-decoration: none;
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}
footer .box ul li a:hover{
    color:var(--primary);
}
footer .box h3{
    border-bottom:1px solid var(--primary);
    padding-bottom:1rem;
    margin-bottom:1rem;
}

footer .box p{
    line-height: 1.6;
    margin-bottom:1rem;
}
footer .box ul li{
    margin-bottom:1rem;
}
footer .box:nth-child(3) > div {
    display:flex;
    justify-content: center;
}
footer .box:nth-child(3){
    text-align: left;
}
footer .box:nth-child(3) h3{
    text-align: center;
}
footer .box:nth-child(3) > div img{
    margin-right:1rem;
}
footer .box:nth-child(3) ul li{
    margin-bottom:1.5rem;
}

footer.copyright{
    padding:1rem 0;
    background: var(--secondary);
    color:var(--pure);
    text-align: center;
    font-size: 0.75rem;
}

footer.copyright a{
    color:var(--primary);
    text-decoration: none;
}

.nav-background .mobile-logo{
    padding:1rem;
}
.nav-background .mobile-nav{
    padding:1rem;
}
.nav-background .mobile-nav ul{
    list-style-type: none;
}
.nav-background .mobile-nav ul li{
    margin-bottom:1rem;
}
.nav-background .mobile-nav ul li a{
    text-decoration: none;
    color:var(--secondary);
    font-family: "Raleway-medium";
}
.nav-background .mobile-nav ul li a:hover{
    color:var(--primary);
}
.nav-background .contact, .nav-background .time{
    padding:1rem;
    padding-left:0;
}
.nav-background .contact img, .nav-background .time img{
    margin-right:1rem;
}
.nav-background .contact h5,.nav-background .time h5{
    font-family:"Raleway-bold";
    margin-bottom:0.25rem;
    font-size:1rem;
}
.nav-background .contact h6, .nav-background .contact h6{
    font-size: 0.75rem;
}
.nav-background .cart{
    margin-bottom:2rem;
}
.nav-background .cart a{
    color:var(--secondary);
    text-decoration: none;
    font-family: "Raleway-bold";
}
.nav-background .cart img{
    margin-right:0.75rem;
    width:20px;
    height:20px;
}
